# Defining some variables (suugest if its a valid variable name)

abc     - valid variable name
1abc    - invalid
ab cd   - invalid
_abc    - valid
__name__ - valid

In [1]:
abc = 5

In [2]:
1abc = 10

# showing syntaxerror as we try to define the variable name starting with a number

SyntaxError: invalid syntax (<ipython-input-2-4037115849a7>, line 1)

In [3]:
# print function

print('Hello')

Hello

In [4]:
print(abc)

5

### Data Types in Python

#### 1. integers (int)

In [5]:
a = 10

In [6]:
print(a)

10

## To check the data type, we can use type()

#### syntax :  type(variable_name)

In [8]:
print(type(a))

<class 'int'>

#### 2. Float

In [9]:
b = 2.3

In [10]:
print(b)

2.3

In [11]:
print(type(b))

<class 'float'>

#### int to float convertion

In [12]:
print(a)

10

In [15]:
# to convert a to float

a = float(a)

In [16]:
print(a)

10.0

#### float to int convertion

In [17]:
x = 5.1
y = 5.9

In [20]:
# conveting x to int

x = int(x)

In [21]:
print(x)

5

In [22]:
y = int(y)

In [23]:
print(y)

5

#### 3. complex numbers (complex)

In [24]:
# complex numbers are square root of negative numbers (in maths, we represent sqrt(-1) as i)
# in python, we use j to represent sqrt of -1

c = 2j + 3

In [25]:
print(c)

(3+2j)

In [26]:
print(type(c))

<class 'complex'>

#### 4. string (str)

In [27]:
# string data type helps to represent text data
# we can use ' ', " ", ''' ''' or """ """ to create a str

s = 'a'

In [28]:
print(s)

a

In [29]:
print(type(s))

<class 'str'>

In [30]:
s2 = "a"

In [31]:
s == s2

# comparing values of variables s and s2
# no difference between strings inside ' ' or " " (if strings are same)

True

In [32]:
# \ as a escape character

x = 'I can\'t do it'

In [33]:
print(x)

I can't do it

In [34]:
y = "I can't do this"

In [35]:
print(y)

I can't do this

In [38]:
# '''   ''' or """   """ can be used for multi line strings

m = '''this is a random 
multi line string'''

#### string (numeric) to int convertion

In [39]:
n = '5'

In [40]:
print(type(n))

<class 'str'>

In [42]:
n = int(n)

In [43]:
print(n)

5

In [44]:
print(type(n))

<class 'int'>

#### string (numeric) to float convertion

In [45]:
f = '10.5'

In [46]:
print(type(f))

<class 'str'>

In [47]:
f = float(f)

In [48]:
print(f)

10.5

In [49]:
print(type(f))

<class 'float'>

#### float to string convertion

In [50]:
n2 = 5.5

In [52]:
n2 = str(n2)

In [53]:
print(type(n2))

<class 'str'>

#### int to string convertion

In [54]:
n3 = 5

In [55]:
n3 = str(n3)

In [56]:
print(type(n3))

<class 'str'>

In [57]:
f = '10.5'

int(f)  # string of float cannot be directly converted to int

ValueError: invalid literal for int() with base 10: '10.5'

### methods and featues of strings

#### 1. length of a string

len() will help to know the length of a string

In [58]:
s = 'abc123 xy_<'

In [60]:
print(len(s))

11

#### 2. indexing

# In python, indexing starts from zero

#### also we have indexing from end to start (in this case it will start from -1 from right most item)

#### 2.1) to get an item from a string at a particular index

##### syntax :  string_name[index_number]

In [61]:
s = 'abc123 xy_<'

In [62]:
print(s[0])

a

In [63]:
print(s[10])

<

In [64]:
print(s[-1])

<

In [65]:
print(s[-4])

x

#### 2.2) to get a slice of a sting

##### string_name[start_index : (stop_index+1)]

##### if start_index is not mentioned, will be considered as zero
##### if stop is not mentioned, will be considered as last item of the string

In [66]:
s

'abc123 xy_<'

In [67]:
print(s[0:3])

abc

In [68]:
print(s[8:14])

y_<

In [71]:
s[12:14]

''

In [72]:
print(s[:3])

abc

In [73]:
s[3:]

'123 xy_<'

#### 2.3) slice with step

##### string_name[start_index : (stop_index+1) : step_value]

##### be default step value is 1

In [74]:
s

'abc123 xy_<'

In [76]:
print(s[1::2])

b13x_

In [77]:
print(s[1::3])

b2x<

#### 2.4) to get the index of an item in a string

In [78]:
s

'abc123 xy_<'

In [79]:
s.index('b')

# will show index of 1st occurance only

1

#### 2.5) to reverse a string

In [80]:
s[::-1]

'<_yx 321cba'

#### 3. to check if a string is completely in lowercase

In [81]:
s1 = 'ABC'
s2 = 'abc'
s3 = 'ABc'
s4 = '123'
s5 = 'ab12'

In [82]:
s2.islower()

True

In [83]:
s1.islower()

False

In [85]:
s3.islower()

False

#### 4. to check if a string is completely in uppercase

In [86]:
s1.isupper()

True

#### 5. to check if only numeric characters

In [87]:
s4.isdigit()

True

#### 6. to check if onlu alphanumeric

In [88]:
s5.isalnum()

True

#### 7. to convert to uppercase

In [89]:
s2.upper()

'ABC'

#### to convert to lowercase

In [101]:
s1.lower()

'abc'

#### 8. title

In [100]:
s2.title()

'Abc'

In [103]:
s2 = s2.title()

### 5. list

list is an ordered collection of data

list can have multiple data types inside

lists can have duplicate data

lists are defined using [ ]

In [92]:
list1 = [1, 2, 5.5, '1', 'a', [10, 20]]

In [93]:
print(list1)

[1, 2, 5.5, '1', 'a', [10, 20]]

In [94]:
print(type(list1))

<class 'list'>

In [95]:
# to get an item at a particular index

list1[2]

5.5

In [97]:
list1[-1][0]

10

In [98]:
# slice

list1[:3]

[1, 2, 5.5]

In [99]:
# slice with step

list1[1::2]

[2, '1', [10, 20]]

In [104]:
# length of a list

len(list1)

6

### length will be always last_index_number + 1

### list methods

#### 1. to add an item to a list at the end

##### syntax :  list_name.append(item)

In [105]:
x = [1, 2, 5, 10, 20, -6, 8]

In [106]:
# adding -20 to the list

x.append(20)

In [107]:
print(x)

[1, 2, 5, 10, 20, -6, 8, 20]

#### 2. to add an item at a particular index

##### list_name.insert(index, item)

In [108]:
# add 100 at index 0 to list x

x.insert(0, 100)

In [109]:
print(x)

[100, 1, 2, 5, 10, 20, -6, 8, 20]

#### 3. to remove an item from a list

list_name.remove(item)

In [110]:
# remove 100 from x

x.remove(100)

In [111]:
print(x)

[1, 2, 5, 10, 20, -6, 8, 20]

#### 4. to remove an item at a particular index

list_name.pop(index)

In [112]:
x.pop(0)

1

In [113]:
print(x)

[2, 5, 10, 20, -6, 8, 20]

In [114]:
# in case we use pop without index number, it will remove the last item of the list

x.pop()

20

In [115]:
print(x)

[2, 5, 10, 20, -6, 8]

#### 5. to reverse a list

list_name.reverse()

In [116]:
x

[2, 5, 10, 20, -6, 8]

In [117]:
x.reverse()

In [118]:
print(x)

[8, -6, 20, 10, 5, 2]

#### 5.2) To get a reverse list withoit changig actual list

list_name[::-1]

In [121]:
reversed_x = x[::-1]

In [122]:
print(reversed_x)

[2, 5, 10, 20, -6, 8]

In [123]:
print(x)

[8, -6, 20, 10, 5, 2]

#### 6. to sort a list (ascending order)

In [124]:
x

[8, -6, 20, 10, 5, 2]

In [125]:
x.sort()

In [126]:
print(x)

[-6, 2, 5, 8, 10, 20]

#### 6.2) To sort in descending order

In [127]:
x.sort(reverse = True)

In [128]:
print(x)

[20, 10, 8, 5, 2, -6]

#### 6.3) to get a sorted list without changing actual list

sorted(list_name)

In [142]:
x = [ 1, 5, -2, 10, 0]

In [145]:
x_sorted = sorted(x)

In [146]:
print(x_sorted)

[-2, 0, 1, 5, 10]

In [147]:
print(x)

[1, 5, -2, 10, 0]

In [148]:
x_sorted_rev = sorted(x, reverse=True)

In [149]:
print(x_sorted_rev)

[10, 5, 1, 0, -2]

In [150]:
print(x)

[1, 5, -2, 10, 0]

#### 7. to remove all elements from a list

list_name.clear()

In [129]:
p = [1,2]

In [130]:
p.clear()

In [131]:
print(p)

[]

#### 8. to get number of occurance of an item in a list

list_name.count(item)

In [132]:
p = [1, 2, 3, 1, 1, 5]

In [133]:
p.count(1)

3

#### 9. to append all values fron a list to another list

list1.extend(list2)   # all items of list2 will be appended to list1

In [137]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

In [138]:
list1.extend(list2)

In [139]:
print(list1)

[1, 2, 3, 4, 5, 6]

In [140]:
print(list2)

[4, 5, 6]

#### 10. to get the index of an item (1st occurance)

list_name.index(item)

In [151]:
x

[1, 5, -2, 10, 0]

In [152]:
x.index(10)

3

### Practice Tasks

# Task-1

1.1) Define 2 variables each for int, float, string, list, tuple datatypes
1.2) Check data type of 1 variable from each of the above defined variables

In [153]:
p = '5'
x = 10
y = 7.5

# Task-2

2.1) convert variable p from str to int
2.2) convert variable x from int to float
2.3) convert variable y from float to string

# task-3

x = [5, 2, -20, 10, 19]

# 1. replace -20 with 20 in list x
# 2. sort the list in ascending order
# 3. after sorting find the index of 19 in list x
# 4. add one element 10 at last postion of list x
# 5. add one element 10 in very first position of list x
# 6. find how many times 10 exists in list x

# task-4

a = [1, 2, 3, 4]
s = 'pqrst'

# 1. print 'qrs' from string s
# 2. append 'qrs' as an elemnt to list a