### set methods

In [1]:
s = {1, 2, 3, 4, 'a'}

#### 1. to append an item to a set

set_name.add(item)

In [2]:
s.add(10)

In [3]:
s

{1, 10, 2, 3, 4, 'a'}

#### 2. to remove an item from a set

set_name.remove(item)

In [4]:
s.remove(4)

In [5]:
s

{1, 10, 2, 3, 'a'}

In [6]:
# in case we try to remove an item does not exists in the set, will return key error

s.remove(100)

KeyError: 100

#### 3. remove item without error (in case item does not exists)

set_name.discard(item)

In [7]:
s.discard(100)

In [8]:
s

{1, 10, 2, 3, 'a'}

In [9]:
s.discard(3)

In [10]:
s

{1, 10, 2, 'a'}

#### 4. remove a rendom item from the set

set_name.pop()

In [12]:
s.pop()

1

In [13]:
s

{10, 2, 'a'}

In [14]:
# cannot mention any specific item in pop method

#### 5. to create a copy of set

set_name.copy()

#### 6. Subset and superset

In [15]:
s1 = {1,2,3,4,5,6}
s2 = {2,3}

In [16]:
s2.issubset(s1)

True

In [17]:
s1.issubset(s2)

False

In [18]:
s1.issuperset(s2)

True

#### 7. union, intersection, xor

In [19]:
s3 = {1, 2, 3, 4, 5}
s4 = {3, 5, 7, 9}

In [21]:
# intersection (common items between sets only)

intersection_set = s3.intersection(s4)

print(intersection_set)

{3, 5}

In [22]:
# we can use & for intersection of sets

s3 & s4

{3, 5}

In [24]:
# union (all items between 2 sets)

union_set = s3.union(s4)

print(union_set)

{1, 2, 3, 4, 5, 7, 9}

| can be used for union between sets

In [25]:
s3 | s4

{1, 2, 3, 4, 5, 7, 9}

In [26]:
# XOR operation between sets (will return union of sets after removing common items)

s3 ^ s4

{1, 2, 4, 7, 9}

#### 8. difference between sets

In [27]:
s3

{1, 2, 3, 4, 5}

In [28]:
s4

{3, 5, 7, 9}

In [29]:
s3.difference(s4)

# common items between s3 and s4 will be removed from s3

{1, 2, 4}

In [35]:
# to define an empty set do not use {}. this will represent dict

s2 = set()

In [36]:
print(type(s2))

<class 'set'>

### Data type 9 - boolean

True, False are the boolean datatypes

True can be represented by 1 and False can be represented by zero

In [37]:
a = True

In [38]:
print(a)

True

In [39]:
print(type(a))

<class 'bool'>

In [40]:
int(a)

1

In [41]:
int(False)

0

## Datatype 10 - frozenset

In [106]:
s = {1,2,3}

In [107]:
fs = frozenset(s)

In [108]:
print(fs)

frozenset({1, 2, 3})

In [109]:
print(type(fs))

<class 'frozenset'>

In [ ]:
# frozenset does not allow any changes

In [111]:
len(fs)

3

In [112]:
max(fs)

3

In [113]:
min(fs)

1

## input() function

input() function helps to take input from the user

In [42]:
input()

abc

'abc'

In [45]:
# input function with message to user

name = input('Enter your name')

Enter your nameBabu

In [44]:
print(name)

Babu

In [46]:
#  '\t'  represents tab

name = input('Enter your name:\t')

Enter your name:	Babu

In [47]:
# '\n' represents new line

name = input('Enter your name:\n')

Enter your name:
Babu

In [48]:
# taking number as user input

n = input('Enter a number:\n')

Enter a number:
10

In [49]:
print(n)

10

In [50]:
print(type(n))

<class 'str'>

## input method takes input as string

In [51]:
# taking number as user input

n = int(input('Enter a number:\n'))

Enter a number:
10

In [52]:
print(type(n))

<class 'int'>

In [53]:
x = '10'

In [54]:
x = int(x)

## .format() method with string

In [55]:
# taking user name as user input and greeting the user

name = input('Enter your name:\n')

print('Hello ', name)

Enter your name:
Babu
Hello  Babu

In [56]:
name = input('Enter your name:\n')

print('Hello {}'.format(name))

Enter your name:
Babu
Hello Babu

In [57]:
name = 'X'
place = 'Y'

print('Person {} is from {}'.format(name, place))

Person X is from Y

In [59]:
# index number represented inside {}

print('Person {1} is from {0}'.format(place, name))

Person X is from Y

In [60]:
print(f'Person {name} is from {place}')

Person X is from Y

#### list to tuple

In [61]:
x = [1, 2, 1, 3]

In [63]:
t = tuple(x)

In [64]:
t

(1, 2, 1, 3)

#### tuple to list

In [65]:
t2 = (1, 2, 3)

In [67]:
l2 = list(t2)

In [68]:
l2

[1, 2, 3]

#### set to list/ tuple

In [69]:
s = { 1, 2, 3}

In [70]:
list(s)

[1, 2, 3]

In [71]:
tuple(s)

(1, 2, 3)

#### dict to list/ tuple

In [72]:
dict1 = {1:'a', 2:'b', 3:'c'}

In [74]:
list(dict1)

# will get a list of keys of the dictionary

[1, 2, 3]

In [75]:
tuple(dict1)

(1, 2, 3)

#### string to list

In [76]:
s = 'abcd'

In [79]:
print(type(s))

<class 'str'>

In [77]:
list(s)

['a', 'b', 'c', 'd']

#### list to string

In [78]:
l3 = [1, 2, 3, 4]
l4 = [1,2,3]

In [82]:
print(l4)

[1, 2, 3]

In [80]:
str(l3)

'[1, 2, 3, 4]'

In [81]:
str(l4)

'[1, 2, 3]'

### int to string

In [83]:
n = 555

In [85]:
s = str(n)

In [86]:
s

'555'

# OPERATORS

### 1. Arithmatic operators

#### 1.1) Addition (+)

int, float, str, list, tuple, boolean support addition

In [95]:
2 + 3

5

In [96]:
a = 10
b = 2.5

In [97]:
a + b

12.5

In [98]:
# adding strings

'abc' + 'de'

'abcde'

In [99]:
# adding lists

x = [1, 2, 3]
y = [4, 5]

In [101]:
added_list = x + y

print(added_list)

[1, 2, 3, 4, 5]

In [102]:
# adding tuple

t1 = (1, 2, 3)
t2 = (4, 5)

In [103]:
t1 + t2

(1, 2, 3, 4, 5)

In [104]:
b1 = True
b2 = False

In [105]:
b1 + b2

1

#### 1.2) Substraction (-)

subtraction supported by numeric data types, sets, boolean

In [114]:
5 - 2

3

In [115]:
10.5 - 3

7.5

In [116]:
x = 10
y = 4.5

In [117]:
x-y

5.5

In [118]:
# substraction between sets

s1 = {1,2,3,4,5}
s2 = {4, 5, 6}

In [119]:
s1 - s2

{1, 2, 3}

In [120]:
s2 - s1

{6}

In [121]:
True - False

1

In [122]:
False - True

-1

#### 1.3)Multiplication (*)

int, float, str, list, tuple, boolean support multiplication

In [123]:
5 * 10

50

In [124]:
x = -10
y = 4.5

In [125]:
m = x * y
print(m)

-45.0

In [126]:
# multiplication between strings or between lists or between tuple cannot be done. we can multiply a string with a int

'ab' * 3

'ababab'

In [127]:
l2 = [5, 10, 20]

In [128]:
l2 * 2

[5, 10, 20, 5, 10, 20]

In [129]:
t3 = (1, 2, 3)

In [131]:
t3 * 3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [132]:
True * False

0

#### 1.4) Division (/)

support by numeric data types only

In [133]:
10/2

5.0

In [134]:
10/3

3.3333333333333335

In [138]:
-10/3

-3.3333333333333335

#### 1.5) Floor Division (//)

round down the decimal

In [135]:
10//3

3

In [137]:
-10//3

-4

# task -1

# take a number (integer) as user input. assign it to variable n
# print double of the number

# task-2

ask user to enter name, age and place. print it using format function

# task-3

ask user to enter a word.
3.1 check if the word starts with a uppercase letter
3.2 check if the word contains all uppercase letters

task - 4

ask user to enter 2 numbers
print the sum and product of the numbers

task -5 

list1 = [1, 2, 3, 1, 2, 1, 10, 20]

5.1 ask user to enter a whole number
5.2 append the number to list1
5.3 try to get a new list without duplicate elements from list1