#### lists.. continuous

In [1]:
x = [1,2,3,4]

In [3]:
x.index(2)

1

In [2]:
x[1]

2

In [4]:
x[1] = -20

In [5]:
print(x)

[1, -20, 3, 4]

#### 11. to make a copy of alist

list_name.copy()

In [6]:
x

[1, -20, 3, 4]

In [7]:
# creating a list y with helps of assignment operator

y = x

In [8]:
print(y)

[1, -20, 3, 4]

In [9]:
p = x.copy()

In [10]:
print(p)

[1, -20, 3, 4]

In [11]:
# append 50 to list x

x.append(50)

In [12]:
print(x)

[1, -20, 3, 4, 50]

In [13]:
print(y)

[1, -20, 3, 4, 50]

In [14]:
print(p)

[1, -20, 3, 4]

#### 12. max, min

to find maximum and minimum values from a list (if the list contains only numbers or only strings)

In [15]:
x

[1, -20, 3, 4, 50]

In [16]:
min(x)

-20

In [17]:
max(x)

50

In [20]:
list1 = ['A', 'B', 'C']
list2 = ['A', 'B', 'C', 'Z']
list3 = ['A', 'B', 'C', 'Z', 'a']
list4 = ['A', 'B', 'C', 'Z', 'a', 'z']
list5 = ['A', 'B', 'C', 'Z', 'a', 'z', 5, 6]

In [21]:
max(list1)

'C'

In [22]:
min(list1)

'A'

In [23]:
max(list2)

'Z'

In [24]:
max(list3)

'a'

In [25]:
max(list4)

'z'

In [26]:
max(list5)

TypeError: '>' not supported between instances of 'int' and 'str'

In [27]:
## ASCII value

ord('A')

65

In [28]:
ord('B')

66

In [29]:
ord('Z')

90

In [30]:
ord('a')

97

In [31]:
## character from ASCII value

chr(65)

'A'

In [32]:
chr(91)

'['

In [33]:
list6 = ['A', '[']

In [34]:
max(list6)

'['

#### String method... 9. to replace a character in a string

string.replace('a', 'b')   #  a will be replaced with b

In [35]:
s = 'abcdbc'

In [36]:
s.replace('b', '|')

'a|cd|c'

#### 10. split a string

string.split('a')  # will split the string with 'a'

In [43]:
sentence = 'they are good people'

s = 'abcdbc'

s2 = 'abc'

In [39]:
sentence.split()

['they', 'are', 'good', 'people']

In [40]:
s.split('b')

['a', 'cd', 'c']

In [44]:
s2.split('x')

['abc']

#### 11. join with list of strings

In [45]:
string_list = ['they', 'are', 'good', 'people']

In [46]:
' '.join(string_list)

'they are good people'

In [47]:
'|'.join(string_list)

'they|are|good|people'

### Data type 6 - tuple

In [48]:
tuple1 = (1, 2, 5.8, 'abc', [10, 20], (50, 100))

In [49]:
print(tuple1)

(1, 2, 5.8, 'abc', [10, 20], (50, 100))

In [50]:
print(type(tuple1))

<class 'tuple'>

In [51]:
# index in available in tuple

tuple1[1]

2

In [52]:
# trying to replace 2 with -20 in tuple1

tuple1[1] = -20

# does not allows this as tuple are immutable

TypeError: 'tuple' object does not support item assignment

# tuple are immutable

#### cannot make any changes once a tuple is defined
#### compared to lists, tuples are faster
#### compared to lists, tuples need only less space in memory

In [53]:
# slice of a tuple

tuple1[:4]

(1, 2, 5.8, 'abc')

In [54]:
# slice with step

tuple1[:4:2]

(1, 5.8)

In [55]:
# index of item in tuple (first occurance)

tuple1.index(2)

1

In [56]:
# number of occurance of an item

tuple1.count(1)

1

In [57]:
# tuples can be defined as below

tuple2 = 1,2,3,'a'

In [58]:
print(tuple2)

(1, 2, 3, 'a')

In [59]:
print(type(tuple2))

<class 'tuple'>

In [63]:
# single item tuple (use comma after item)

t = (10,)

In [64]:
print(t)

(10,)

In [65]:
print(type(t))

<class 'tuple'>

In [66]:
print(tuple1)

(1, 2, 5.8, 'abc', [10, 20], (50, 100))

In [69]:
# lists inside the tuple are also mutable

tuple1[4][0] = 100

In [70]:
tuple1

(1, 2, 5.8, 'abc', [100, 20], (50, 100))

In [71]:
# tuple inside lists will be immutable

### Data type 7 - dictionary

In [72]:
# dictionary are unordered collection of data
# dictionary store data as key, value pair
# dictionary defines using { } with comma sepreated between items (key, value pair)
# key and value are sepeated by :
# key will be unique, values may not be
# key's data type must be immutable

In [73]:
d = {1:'a', 2:'b', 3:'c'}

In [74]:
print(d)

{1: 'a', 2: 'b', 3: 'c'}

In [75]:
print(type(d))

<class 'dict'>

In [76]:
d2 = {1:'a', 2:'b', 3:'c', 1:'d'}

# in case of duplicate keys, lates key value pair will be taken

In [77]:
print(d2)

{1: 'd', 2: 'b', 3: 'c'}

In [78]:
d3 = {'s1':[20,35, 40], 's2':[33, 40, 49]}

In [79]:
d4 = {[20,35, 40]:'s1', [33, 40, 49]:'s2'}

TypeError: unhashable type: 'list'

In [80]:
d4 = {(20,35, 40):'s1', (33, 40, 49):'s2'}

### dictionary methods

#### 1. to get all keys of a dictionary

dict_name.keys()

In [81]:
d

{1: 'a', 2: 'b', 3: 'c'}

In [82]:
# to get keys of dictionary d

d.keys()

dict_keys([1, 2, 3])

#### 2. to get all values of a dictionary

dict_name.values()

In [83]:
# to get values of dictionary d

d.values()

dict_values(['a', 'b', 'c'])

#### 3. to get keys and values of a dictionary

dict_name.items()

In [84]:
d.items()

dict_items([(1, 'a'), (2, 'b'), (3, 'c')])

#### 4. to get value against a key in a dictionary

dict_name.get(key)

dict_name[key]

In [85]:
print(d[3])

c

In [86]:
marks = {'s1':{'Maths':20, 'Science':25}, 's2':{'Maths':30, 'Science':35}}

In [89]:
marks['s1']

{'Maths': 20, 'Science': 25}

In [90]:
marks['s1']['Maths']

20

In [91]:
marks.get('s1')

{'Maths': 20, 'Science': 25}

#### 5. to append a key value pair to a dictionary

In [92]:
d

{1: 'a', 2: 'b', 3: 'c'}

In [93]:
d[4] = 'd'

In [94]:
print(d)

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [95]:
# same method can be used to replace value against a key

In [96]:
d[1] = 'x'

In [97]:
print(d)

{1: 'x', 2: 'b', 3: 'c', 4: 'd'}

#### 6. to search value against key without keyerror

dict_name.setdefault(key)

this method adds the key value pair to the dictionary

In [98]:
d[5]

# if key does ot exist in the dictionary, python will return keyerror

KeyError: 5

In [99]:
d

{1: 'x', 2: 'b', 3: 'c', 4: 'd'}

In [100]:
# to search value without keyerror

d.setdefault(5)

In [101]:
d

{1: 'x', 2: 'b', 3: 'c', 4: 'd', 5: None}

In [102]:
# to add the key with a particular value

d.setdefault(6, 'default value')

'default value'

In [103]:
d

{1: 'x', 2: 'b', 3: 'c', 4: 'd', 5: None, 6: 'default value'}

#### 7. to remove an item from a dictionary

dict_name.pop(key)

In [104]:
d.pop(6)

'default value'

In [105]:
d

{1: 'x', 2: 'b', 3: 'c', 4: 'd', 5: None}

In [106]:
d.pop()

# pop method will not be executed without key

TypeError: pop expected at least 1 argument, got 0

#### 8. to merge 2 dictionaries

dict1.update(dict2)

items of dict2 will be updated to list1

In [107]:
dict1 = {1:'a', 2:'b'}

dict2 = {3:'c', 4:'d'}

In [108]:
dict1.update(dict2)

In [109]:
dict1

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [110]:
dict2

{3: 'c', 4: 'd'}

#### 9. to remove all items from a dictionary

dict_name.clear()

In [111]:
dict2

{3: 'c', 4: 'd'}

In [112]:
dict2.clear()

In [113]:
dict2

{}

# Note:  we can use del to delete an existing variable

## syntax ::   del variable_name

In [114]:
x = 5

In [115]:
del x

In [116]:
print(x)

# x already deleted

NameError: name 'x' is not defined

#### 10. to create a dictionary with list items as keys

In [117]:
list1 = [1,2,3,4]

In [120]:
dict5 = dict.fromkeys(list1)

In [121]:
dict5

{1: None, 2: None, 3: None, 4: None}

In [122]:
dict6 = dict.fromkeys(list1, 'default value')

In [123]:
dict6

{1: 'default value',
 2: 'default value',
 3: 'default value',
 4: 'default value'}

In [125]:
d

{1: 'x', 2: 'b', 3: 'c', 4: 'd', 5: None}

#### 11. to create a copy of dictionary (not changing with changes in original)

dict_name.copy()

In [134]:
d

{1: 'x', 2: 'b', 3: 'c', 4: 'd', 5: None}

In [135]:
d2 = d.copy()

In [136]:
d2

{1: 'x', 2: 'b', 3: 'c', 4: 'd', 5: None}

In [137]:
# to define an empty list

x = []
y = list()

In [138]:
print(x)

[]

In [139]:
y

[]

In [140]:
t1 = ()
t2 = tuple()

In [141]:
t1

()

In [142]:
t2

()

In [143]:
d1 = {}
d2 = dict()

In [144]:
d1

{}

In [145]:
d2

{}

### Data type 8 - set

In [146]:
# set are unordered collection
# define set using { } (there is no key, value, pair)
# set items are unique
# set does not allow list, tuple, dict inside

In [147]:
s = {1, 2, 3, 'a'}

In [148]:
print(s)

{'a', 1, 2, 3}

In [149]:
print(type(s))

<class 'set'>

In [150]:
s2 = {1, 2, 3, 1, 1}

# in case of duplicate values, will be taken only 1 value

In [151]:
s2

{1, 2, 3}

In [152]:
s3 = {1, 2, [10, 20]}

# list not allowed inside set

TypeError: unhashable type: 'list'

### strings are immutable

In [153]:
s = 'pqrst'

In [159]:
s[1] = 'x'

# not supported as strings are immutable

TypeError: 'str' object does not support item assignment

In [160]:
s[1:4]

'qrs'

In [161]:
# in case, we need to change a string

s = s[1:4]

In [162]:
s

'qrs'

# task -1

d = {'a': [1,2,3, [4,5]], 'b':10}

1.1) print 10 from d
1.2) print 4 from d
1.2) print 2 from d

# task -2

d2 = {1:'abcd', 2:(10, 20, 30, 40)}

2.1) print 'bc' from d2
2.2) print tuple (20, 30, 40) from d2