task -5 

list1 = [1, 2, 3, 1, 2, 1, 10, 20]


5.3 try to get a new list without duplicate elements from list1

In [1]:
list1 = [1, 2, 3, 1, 2, 1, 10, 20]

In [4]:
s = {1, 2, 3, 1, 2, 1, 10, 20}

In [5]:
s

{1, 2, 3, 10, 20}

In [6]:
# converting list1 to a set

s2 = set(list1)
s2

{1, 2, 3, 10, 20}

In [7]:
result_list = list(s2)

In [8]:
print(result_list)

[1, 2, 3, 10, 20]

#### arithmatic operators continuous...

#### 1.6) modular Division (%)

returns the reminder

In [9]:
10%3

1

In [10]:
100%20

0

#### 1.7) exponent (**)

In [11]:
5**2

25

In [12]:
2**3

8

In [13]:
# square root

25**(1/2)

5.0

## Operator 2 - assignment operator

= is assignment operator

In [14]:
x = 5

In [15]:
x

5

In [16]:
# to change the value of x to 6

x = x + 1

In [17]:
print(x)

6

In [18]:
x += 1   # means x = x + 1

print(x)

7

In [19]:
x -= 3  # means x = x - 3

print(x)

4

In [20]:
x *= 5  # means x = x * 5

print(x)

20

## Operator 3 - comparison operator

result of a comparison operation will be boolean

#### 3.1) greater than (>)

In [21]:
10 > 1

True

In [22]:
a =  100
b = 40

In [23]:
b > a

False

#### 3.2) less than (<)

In [24]:
b < a

True

#### 3.3) equal comparison (==)

In [25]:
a == b

False

In [26]:
a == 100

True

#### 3.4) not equal (!=)

In [27]:
a != b

True

In [28]:
b != 40

False

In [31]:
10 != 9.5

True

#### 3.5) greater than or equal (>=)

In [32]:
b >= a

False

In [33]:
100 >= a

True

#### 3.6) less tha or equal (<=)

In [34]:
b <= a

True

In [35]:
40 <= b

True

In [36]:
200 <= a

False

## Operator 4 - logical operator

helps to do more than 1 comparison at a time. or reverse of a comparison operation

and, or, not are loagical operators

#### 4.1) and

will return True only if both input are True

True and True = True

False and False = False

True and False = False

In [37]:
print(a, b)

100 40

In [38]:
(a > 50) and (b < 50)

True

In [39]:
(a == 100) and (b == 50)

False

#### 4.2) or

will return True if at least one of the input is True

True or True = True

False or False = False

True or False = True

In [40]:
(a > 50) or (b < 50)

True

In [41]:
(a == 100) or (b == 50)

True

In [42]:
(a == 90) or (b == 50)

False

#### 4.3) not

not True = False

not False = True

In [43]:
not (a == 90)

True

In [44]:
not (a == 100)

False

## Operator 5 - identity operator

helps to check if the operators belongs to same memory location

is, is not are the identity operators

In [45]:
x = 10
y = 10

In [46]:
a = [1, 2, 3]
b = [1, 2, 3]

In [47]:
x is y

True

In [48]:
a is b

False

In [50]:
print(id(x))

140733603526720

In [51]:
print(id(y))

140733603526720

In [52]:
id(x) == id(y)

True

In [53]:
id(a)

2782008119744

In [54]:
id(b)

2782008121664

In [55]:
id(a) == id(b)

False

In [56]:
a

[1, 2, 3]

In [57]:
b

[1, 2, 3]

In [58]:
c = a

In [59]:
id(a)

2782008119744

In [60]:
id(c)

2782008119744

In [61]:
x = 10
y = 10

In [62]:
id(x)

140733603526720

In [63]:
id(y)

140733603526720

In [64]:
x += 1

print(x)

11

In [65]:
print(y)

10

In [66]:
id(x)

140733603526752

## Operator 6 - membership operator

helps to check if a value present in a ordered or unordered collection data type

membershop operator are in, not in

In [67]:
list1 = [5, 10, 15, 20]
t1 = (1, 2, 3, 4, 'a')
s1 = 'abcd1234_'
set1 = {50, 60, 70, -20}
dict1 = {1:'a', 2:'b', 2:'c'}

In [68]:
15 in list1

True

In [69]:
15 not in list1

False

In [70]:
100 not in list1

True

In [71]:
'a' in t1

True

In [72]:
p = 4

In [73]:
t1

(1, 2, 3, 4, 'a')

In [74]:
p in t1

True

In [75]:
s1

'abcd1234_'

In [76]:
'4' in s1

True

In [77]:
'x' in s1

False

In [78]:
set1

{-20, 50, 60, 70}

In [79]:
-20 in set1

True

In [80]:
1 in set1

False

In [81]:
dict1

{1: 'a', 2: 'c'}

In [82]:
1 in dict1

True

In [83]:
'a' in dict1

False

##### membership operators will check only the keys in the dictionary

## Operator 7 - bitwise operator

bitwise operator deals with binary numbers (0, 1).

in case we give decimal, it will convert binary and apply bitwise operation. then result will return as decimal

#### 7.1) Bitwise and (&)

1 & 1 = 1

1 & 0 = 0

0 & 0 = 0

In [84]:
1 & 0

0

In [85]:
1 & 1

1

In [86]:
2 & 3

2

In [87]:
10 & 12

8

#### 7.2) Bitwise or ( | )

1 | 1 = 1

1 | 0 = 1

0 | 0 = 0

In [89]:
2 | 3

3

In [91]:
10 | 12

14

#### 7.3) Bitwise xor ( ^ )

1 ^ 1 = 0

1 ^ 0 = 1

0 ^ 0 = 0

In [92]:
2 ^ 3

1

#### 7.4) Bitwise not ( ~)

~x = -(x) - 1

In [93]:
~10

-11

In [94]:
~-10

9

#### 7.5) right shift (>>)

In [95]:
2 >> 1

1

In [96]:
2 >> 2

0

In [97]:
5 >> 2

1

#### 7.6) left shift (<<)

In [98]:
2 << 1

4

In [99]:
5 << 2

20

### swapping 2 variables

In [100]:
a = 10

b = 20

In [101]:
c = a

print(a, b, c)

10 20 10

In [102]:
a = b

print(a, b, c)

20 20 10

In [103]:
b =c

print(a, b)

20 10

In [104]:
x = 50

y = 100

In [105]:
# in python, to swap variables

x, y = y, x

In [106]:
x

100

In [107]:
y

50

### if... else

helps to take decision based on conditions

#### syntax:

if condition:

    codes
    
else:

    codes

In [116]:
# get a whole number from user, print if the number is even

n = int(input('Enter a whole number :\n'))

if n%2 == 0:
    print(f'{n} is a even number.')

Enter a whole number :
10
10 is a even number.

In [118]:
# get a whole number from user, print if the number is even or odd

n = int(input('Enter a whole number :\n'))

if n%2 == 0:
    print(f'{n} is even number.')
else:
    print(f'{n} is odd number.')

Enter a whole number :
100
100 is even number.

In [146]:
# ask user to enter a word. check if the word starts with a vowel and uppercase

w = input('Enter a word:\n')

v = 'AEIOU'

if (w[0].isupper()) and (w[0] in v):
    print(f'The word {w} starts with a vowel and uppercase letter.')
else:
    print(f'The word {w} does not start with a vowel and uppercase letter.')

Enter a word:
And
The word And starts with a vowel and uppercase letter.

# task-1

x = []

1.1) ask user to enter 2 whole numbers (can be asked one by one)
1.2) check if both the numbers are even

# task-2

list1 = [10, 15, 21, -19, 13]

2.1) as user to enter a whole number
2.2) add the number into list1 at index-1
2.3) check if the sum of all numbers in the list is a multiple of 3

# task -3

3.1) ask user to enter a word
3.2) check if the length of the word is even or odd

# task-4

d = {1:'a', 2:'b', 3:[10, 20]}

4.1) as user to enter 2 float numbers (can be asked one by one)
4.2) add these 2 numbers to the value of key 3 in dictionary d (which is a list)